.row
  %h1.text-center Dashboard
  .col-md-4
    %h3.text-center Books #{link_to("New Book", new_book_path, class: "btn btn-primary btn-sm")}
    = render "books"
       

  .col-md-4
    %h3.text-center Purchased
    = render "purchased"

  .col-md-4
    %h3.text-center Sales
    = render "sales"